<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add page</title>
</head>
<body>
    <div class="" align="center">
        <h2> Add user</h2>
        <form action="/insertRecord" method="post">
            <table border="1">
                <tr>
                    <td> <label for="name">name:</label></td>
                    <td> <input name="username" type="text"></td>
                </tr>
                <tr>
                    <td> <label for="phone">phone:</label></td>
                    <td> <input name="userphone" type="text"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>
    </div>
    
</body>
</html>